<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <title>main</title>
</head>
<body>
       <header class="gatopedia-header-prin">
        <div class="centrar">
            <div class="gatopedia-header">
                <img src="/images/gatopedia.png" alt="" class="gatopedia-header__logo">
                <nav class="gatopedia-header__nav">
                    <ul class="califest-header__items">
                        <li class="gatopedia-header__item"> <a href="/inicio">INICIO</a></li>
                        <li class="gatopedia-header__item"><a href="/nosotros">NOSOTROS</a></li>
                        <li class="gatopedia-header__item"><a href="/contacto">CONTACTO</a></li>
                        <li class="gatopedia-header__item"><a href="/admin">ADMIN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <ul class="ul_contador">
            <li class="title_list">
                <h2>Página</h2>
                <h2>Visitas</h2>
                <h2>Fecha</h2>
            </li>
       
    </ul>

    <ul class="ul_contador">
        {{#each visitas.general}}
        <li class="items_list">
            <div>{{url}}</div>
            <div>{{visitas}}</div>
            <div>{{fecha}} </div>
        </li>
        {{/each}}
    </ul>


</body>
</html>