<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <title>Contacto</title>
</head>
<body>

        <header class="gatopedia-header-prin">
        <div class="centrar">
            <div class="gatopedia-header">
                <img src="/images/gatopedia.png" alt="" class="gatopedia-header__logo">
                <nav class="gatopedia-header__nav">
                    <ul class="califest-header__items">
                        <li class="gatopedia-header__item"> <a href="/inicio">INICIO</a></li>
                        <li class="gatopedia-header__item"><a href="/nosotros">NOSOTROS</a></li>
                        <li class="gatopedia-header__item"><a href="/contacto">CONTACTO</a></li>
                        <li class="gatopedia-header__item"><a href="/admin">ADMIN</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
  <div class="contenedor-uno">

        <div class="contenedor-uno__fondo" style="background-image: url('./images/contacto.jpg')">
            <div class="centrar">

                <div class="contenedor-uno__descripcion">

                    <h1 >Contactenos</h1>

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem, 
                        nobis minima, cumque cum ut voluptatum sapiente ad tenetur veritatis voluptate quia? 
                        Reprehenderit, odio minus voluptates officia mollitia fugit eos blanditiis?</p>

                        <div class="formulario">
                        <h3>Nombre:</h3>
                        <input type="name" placeholder="Nombre">

                        <h3>Correo:</h3>
                        <input type="email" placeholder="Correo">

                        <h3>Teléfono:</h3>
                        <input type="tel" placeholder="123456789">

                        <button>ENVIAR</button>
                        </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>